main {
  min-height: 100vh;
  padding: 0 24px 32px;
  max-width: 1400px;
  margin: 0 auto;
}

main.with-header {
  padding-top: 90px;
}

@media (max-width: 1024px) {
  main {
    padding: 0 20px 24px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 16px 20px;
  }

  main.with-header {
    padding-top: 70px;
  }
}
